.page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  width: 90%;
}
.page-btn {
  background-color: transparent;
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 140px;
  height: 36px;
  cursor: pointer;
  outline: none;
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
  margin: 20px;
}
