.search-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  background-color: black;
}
.section-title {
  font-family: 'Roboto';
  color: white;
  font-size: 30px;
  align-self: flex-start;
  padding-left: 30px;
}
.searched-movie-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.search-empty-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.no-results-text {
  font-family: 'Roboto';
  color: white;
  font-size: 25px;
}
.try-again-text {
  font-family: 'Roboto';
  font-size: 16px;
}
